---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import ashurImage from "~/assets/logomark.png";
import { Image } from "astro:assets";
---

<ContentSection title="" id="intro">
  <Fragment slot="lead">
    اشور هو نوع جديد من تطبيقات التواصل الاجتماعي حيث يعتمد على
    <span class="text-primary">الستريكس</span> والتي هي نقاط تحصل عليها عند التافعل
  </Fragment>
</ContentSection>
